<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>TheWayShop | Log in</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/AdminPanel/lib/fontawesome-free/css/all.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <!-- icheck bootstrap -->
    <link rel="stylesheet" href="~/AdminPanel/lib/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
    <!-- Theme style -->
    <link href="~/AdminPanel/css/adminlte.css" rel="stylesheet" />
    <!-- Google Font: Source Sans Pro -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">

    <link href="~/lib/sweetalert2/dist/sweetalert2.css" rel="stylesheet" />
</head>
<body class="hold-transition login-page">
    <div class="login-box">
        <div class="login-logo">
            <a href="../../index2.html"><b>Yankı Elektronik</b></a>
        </div>

        <div class="card">
            <div class="card-body login-card-body">
                <p class="login-box-msg">Oturum açmak için giriş yapınız</p>
                <form>
                    <div class="input-group mb-3">
                        <input id="txtEmail" type="email"
                               class="form-control"
                               placeholder="Email"
                               value="@ViewData["un"]">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-envelope"></span>
                            </div>
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        <input id="txtPassword" type="password"
                               class="form-control"
                               placeholder="Şifre"
                               value="@ViewData["pw"]">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-lock"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-8">
                            <div class="icheck-primary">
                                <input type="checkbox" id="remember" @(ViewData["isChecked"] != null ? "/checked/" : "")>
                                <label for="remember">
                                    Beni Hatırla
                                </label>
                            </div>
                        </div>
                        <div class="col-4">
                            <button id="btnLogIn" type="button" class="btn btn-primary btn-block">Giriş</button>
                        </div>
                    </div>
                </form>

                <div class="social-auth-links text-center mb-3">
                    <p>- OR -</p>
                    <a href="#" class="btn btn-block btn-primary">
                        <i class="fab fa-facebook mr-2"></i> Sign in using Facebook
                    </a>
                    <a href="#" class="btn btn-block btn-danger">
                        <i class="fab fa-google-plus mr-2"></i> Sign in using Google+
                    </a>
                </div>
                <!-- /.social-auth-links -->

                <p class="mb-1">
                    <a data-toggle="modal"
                       data-target="#divForgotPassword"
                       style="cursor:pointer;color:blue;">Şifremi Unuttum</a>
                </p>

            </div>
            <!-- /.login-card-body -->
        </div>



        <div class="modal fade" id="divForgotPassword" tabindex="-1">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Şifremi Unuttum</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label>Email : </label>
                            <input id="txtEmailForgotPassword" type="text" class="form-control" />
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Kapat</button>
                        <button id="btnSendPassword" type="button" class="btn btn-primary">Şifremi Gönder</button>
                    </div>
                </div>
            </div>
        </div>



    </div>
    <!-- /.login-box -->
    <!-- jQuery -->
    <script src="~/AdminPanel/lib/jquery/jquery.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="~/AdminPanel//bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- AdminLTE App -->
    <script src="~/AdminPanel/js/adminlte.min.js"></script>
    <script src="~/AdminPanel/lib/sweetalert2/dist/sweetalert2.js"></script>
    <script src="~/AdminPanel/js/AdminLogIn.js"></script>

</body>
</html>
